body
{
  background-color: black;
  background-image:url('../img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header *
{
	text-align: center;
    font: 40px "Microsoft YaHei";
	color:rgb(222, 222, 222);
}
#firstline
{
    padding-top: 100px;
	margin: 10px 0;
}
#time{
	display: flex;
	justify-content:center;
}
#time div{
	margin: 0 5px;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}
#time div span{
	height: 80px;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center; 
}
#time div span:nth-child(2){
	height: 30px;
	font-size: 20px;
	font-weight: 600;
}
.search
{
    padding: 100px 200px;
}
.inputbox 
{
    display: flex;
    position: relative;
    padding: 1em 1em;
    border-radius: 3em;
    background: rgb(0, 0, 0);
}
.inputbox input
{
    padding-left: 30px;
    flex: 1 1 auto;
    border: none;
    outline: none;
    font: 28px "Microsoft YaHei";
    background-color: black;
    color: white
}
#searchiconline
{
    visibility:hidden;
    justify-content: center;
    display: flex;
}
#searchiconline *
{
    width: 5rem;
    height: 5rem;
    filter: grayscale();
    cursor: pointer;
    transition: width 0.2s, height 0.2s;
}
#icon1
{
    right: 100px;
}
#icon2
{
    filter: none;
    margin: 0px 50px;
}
#icon3
{
    right: 50px;
}
#searchiconline *:hover
{
    width: 6rem;
    height: 6rem;
}